/*
*   ====== VARIÁVEIS MATERIAL DESIGN LITE =====
*   As variáveis desse arquivo sobrescrevem as variáveis "default" do Material Design Lite
*   Rewrite default variables of the Material Design Lite 
*/

@import "color-definitions";

/* CORES PRINCIPAIS */
$color-primary: $palette-purple-500;
$color-accent: $palette-yellow-700;

/* COR DE LINKS */
$text-link-color: $palette-blue-A200;

/* CONFIG. DE BOTÕES */
$button-height: 40px;

/* RADIO BUTTON */
$radio-color: unquote("rgb(#{$palette-pink-500})");
$radio-off-color: unquote("rgb(#{$palette-grey-500})");