/*
*   ====== VARIÁVEIS MATERIAL DESIGN LITE =====
*   As variáveis desse arquivo sobrescrevem as variáveis "default" do Material Design Lite
*   Rewrite default variables of the Material Design Lite 
*/

@import "color-definitions";

/* CORES PRINCIPAIS */
$color-primary: $palette-yellow-500;
$color-accent: $palette-yellow-500;
// $color-primary-contrast: $color-black;
// $color-accent-contrast: $color-black;

/* COR DE LINKS */
$text-link-color: $palette-blue-A200;

/* CONFIG. DE BOTÕES */
$button-height: 40px;

/* CHECKBOX */
$checkbox-color: unquote("rgb(#{$palette-indigo-500})");
$checkbox-off-color: unquote("rgb(#{$palette-indigo-500})");

/* RADIO BUTTON */
$radio-color: unquote("rgb(#{$palette-indigo-500})");
$radio-off-color: unquote("rgb(#{$palette-indigo-500})");